# secrets
.env
local/.env

# python
__pycache__/
*.pyc

# terraform (for later)
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl

#Variable files
infra/terraform.tfvars
*.tfvars

# misc
#.DS_Store